:root {
  --white: #FFFFFF;
  --blue: #00125E;
  --orange: #F6512C;

  // other vars
  --min-site-width: 360px;

  // theme vars
  --primary-text-color: var(--blue);
  --primary-bg-color: var(--white);
  --secondary-text-color: var(--white);
  --secondary-bg-color: var(--blue);
  --primary-accent: var(--orange);
}

$md: 744px;
$lg: 1300px;
$xl: 1600px;
$xxl: 1920px;
$main-font: "Ubuntu";
